<h1>Projekt Aplikacje_mobilne</h1>
<p>
Lista studentów istniejących w bazie:
</p>
<ul>
<%	@students.each	do	|student|	%>
		<%=	link_to	student	do	%>
				<li><%=	student.name	%>	<%=	student.index	%></li>
		<%	end	%>
<%	end	%>
</ul>
